.taskbar {
    display: flex; 
    position: fixed; 
    width: 100%; 
    background-color: #b6d4db; 
    justify-content: space-between; 
    color: black;
}

.closebutton {
    cursor: pointer; 
    margin-right: 8px;
    width: 12px; 
    color: red;
    justify-content: flex-end;
}

.windowTitle {
    margin-right: 8px;
    cursor: default; 
    justify-content: flex-start;
}

.dragheader {
    cursor: grab;
    display: flex;
    width: 640px; 
    background-color: #b6d4db;
    justify-content: space-between;
    color: black;
    height: 15px;
}

.window {
    position: absolute; 
    transform: translate(-50%, -50%); 
    background-color: white;
    border: dashed black; 
    min-height: 64px;
    width: 640px; 
    padding: 8px; 
    background-size: cover;
}